@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";


.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.date_place_clickable{
	cursor: pointer;
	color: #049cdb;
}


#date-ideas-home .well {
  background-color: #FFFFFF;
}


footer{
  text-align: right;
}


#post-a-date { 
    background: url('life_share_dating.jpg') 0 0 no-repeat;
    background-size: 100%;
    color: #FFFFFF;
}
#post-a-date .date_place_clickable{
  color: #FFFFFF;
}

.date-idea-vote{
  text-align: center; 
}

.form-post-area{
  padding: 5px;
}